img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	/* height: 1rem ;
	width: 1em !important; */
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
navbar-default {
    background-color: #151515 ;
}
.is_header_semitransparent .navbar-default {
    background: rgba(21, 21, 21, 0.0) none repeat scroll 0 0;
}
.is_header_semitransparent .sticky-wrapper.is-sticky .navbar-default {
    background: rgba(21, 21, 21, 0.1) none repeat scroll 0 0;
}.back-to-top {
        background: #606060;
        color: #ffffff;
    }
    .back-to-top:hover {
        background: #528f2d;
        color: #ffffff;
    }
    .back-to-top:before {
        background: #528f2d;
    }.single article .article-content p,
p,
dd,
.post-excerpt{
    font-size: 15px;
    line-height: 25px;
    font-family: Ubuntu;
    color: #686868;
}
body{
    font-family: Ubuntu;
}
h1,
h1 span {
    font-family: "Signika";
    font-size: 36px;
    font-weight: 700;
    color: #242424;
}
h2 {
    font-family: "Signika";
    font-size: 30px;
    font-weight: 700;
    color: #242424;
}
h3 {
    font-family: "Signika";
    font-size: 24px;
    font-weight: 700;
    color: #242424;
}
h4 {
    font-family: "Signika";
    font-size: 18px;
    font-weight: 700;
    color: #242424;
} 
h5 {
    font-family: "Signika";
    font-size: 14px;
    font-weight: 700;
    color: #242424;
} 
h6 {
    font-family: "Signika";
    font-size: 12px;
    font-weight: 700;
    color: #242424;
} 
input,
textarea {
    font-family: Ubuntu;
}  
input[type="submit"] {
    font-family: Ubuntu;
}
body #navbar .menu-item.selected > a,.navbar-default .navbar-nav > li > a:hover{
       color: #ffffff !important;
}
@media only screen and (max-width: 767px) {
    body h1,
    body h1 span{
        font-size: 25px !important;
        line-height: 28px !important;
    }
    body h2{
        font-size: 23px !important;
        line-height: 25px !important;
    }
    body h3{
        font-size: 20px !important;
        line-height: 23px !important;
    }
    body h4{
        font-size: 17px !important;
        line-height: 20px !important;
    }
    body h5{
        font-size: 15px !important;
        line-height: 18px !important;
    }
    body h6{
        font-size: 14px !important;
        line-height: 17px !important;
    }
    body.is_header_semitransparent .navbar-default{
        background: #528f2d !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body h1,
    body h1 span{
        font-size: 36px !important;
        line-height: 39px !important;
    }
    body h2{
        font-size: 32px !important;
        line-height: 36px !important;
    }
    body h3{
        font-size: 28px !important;
        line-height: 32px !important;
    }
    body h4{
        font-size: 24px !important;
        line-height: 27px !important;
    }
    body h5{
        font-size: 20px !important;
        line-height: 23px !important;
    }
    body h6{
        font-size: 18px !important;
        line-height: 21px !important;
    }
}.breadcrumb a::after {
  content: "/";
}
body{
background: #ffffff;
}
.logo img,
.navbar-header .logo img {
max-width: 220px;
}
::selection{
color: #ffffff;
background: #528f2d;
}
::-moz-selection { /* Code for Firefox */
color: #ffffff;
background: #528f2d;
}
a{
color: #528f2d;
}
a:focus,
a:hover{
color: #ffffff;
}
/*------------------------------------------------------------------
COLOR
------------------------------------------------------------------*/
a, 
a:hover, 
a:focus,
.mt_car--tax-type,
span.amount,
.widget_popular_recent_tabs .nav-tabs li.active a,
.widget_product_categories .cat-item:hover,
.widget_product_categories .cat-item a:hover,
.widget_archive li:hover,
.widget_archive li:hover a,
.widget_archive li a:hover,
.widget_categories .cat-item:hover,
.widget_categories .cat-item:hover a,
.widget_categories li a:hover,
.pricing-table.recomended .button.solid-button, 
.pricing-table .table-content:hover .button.solid-button,
.pricing-table.Recommended .button.solid-button, 
.pricing-table.recommended .button.solid-button, 
#sync2 .owl-item.synced .post_slider_title,
#sync2 .owl-item:hover .post_slider_title,
#sync2 .owl-item:active .post_slider_title,
.pricing-table.recomended .button.solid-button, 
.pricing-table .table-content:hover .button.solid-button,
.testimonial-author,
.testimonials-container blockquote::before,
.testimonials-container blockquote::after,
.post-author > a,
h2 span,
label.error,
.author-name,
.prev-next-post a:hover,
.prev-text,
.wpb_button.btn-filled:hover,
.next-text,
.social ul li a:hover i,
.wpcf7-form span.wpcf7-not-valid-tip,
.text-dark .statistics .stats-head *,
.wpb_button.btn-filled,
footer ul.menu li.menu-item a:hover,
.widget_meta li:hover,
.widget_meta li:hover a,
.widget_meta a:hover,
.widget_pages li:hover,
.widget_pages li:hover a,
.widget_pages li.page_item_has_children li:hover,
.widget_pages li.page_item_has_children li:hover a
.blogloop-v1 .post-name a:hover,
.blogloop-v2 .post-name a:hover,
.blogloop-v3 .post-name a:hover,
.blogloop-v4 .post-name a:hover,
.blogloop-v5 .post-name a:hover,
.simple_sermon_content_top h4,
.page_404_v1 h1,
.mt_cars--single-main-pic .post-name > a,
.widget_recent_comments li:hover a,
.sidebar-content .widget-title a:hover,
.widget_rss li a:hover,
.list-view .post-details .post-name a:hover,
.blogloop-v5 .post-details .post-sticky-label i,
header.header2 .header-info-group .header_text_title strong,
.widget_recent_entries_with_thumbnail li:hover a,
.widget_recent_entries li:hover,
.widget_recent_entries li:hover a,
.widget_recent_entries li a:hover,
.blogloop-v1 .post-details .post-sticky-label i,
.blogloop-v2 .post-details .post-sticky-label i,
.blogloop-v3 .post-details .post-sticky-label i,
.blogloop-v4 .post-details .post-sticky-label i,
.blogloop-v5 .post-details .post-sticky-label i,
.mt_listing--price-day.mt_listing--price .mt_listing_price,
.mt_listing--price-day.mt_listing--price .mt_listing_currency,
.mt_listing--price-day.mt_listing--price .mt_listing_per,
.error-404.not-found h1,
.header-info-group i,
.woocommerce form .form-row .required,
.woocommerce .woocommerce-info::before,
.woocommerce .woocommerce-message::before,
.woocommerce div.product p.price, 
.woocommerce div.product span.price,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active,  
.error-404.not-found h1,
.header-info-group i,
body .lms-course-infos i,
.action-expand::after,
.single-icondrops-content .skill,
.foodhub-single-list-item i.cc,
.single .single-icondrops-related-listings i.cc,
.header4 header .right-side-social-actions .social-links a:hover i,
#navbar .menu-item.selected > a,
.sidebar-content .widget_nav_menu li a:hover,
.sidebar-content .widget_nav_menu li:hover,
.single-icondrops-content h5 strong,
.modeltheme-countdown .days-digit, 
.modeltheme-countdown .hours-digit, 
.modeltheme-countdown .minutes-digit, 
.modeltheme-countdown .seconds-digit,
.widget_foodhub_recent_entries_with_thumbnail li:hover a,
.sidebar-content .widget_nav_menu li:hover a,
.is-style-outline .wp-block-button__link,
.blog-posts-shortcode-v2 .post-details .post-category,
.mtlistings-ico-style-v2.iconfilter-shortcode .blog_custom_listings .post-name-listings a:hover,
.mtlistings-events-style-v2 .events-title-subtitle h4 a:hover,
.foodhub-contact button.wpcf7-form-control.wpcf7-submit:hover,
.pagination .page-numbers,
.comment-edit-link:focus, 
.comment-reply-link:focus,
.comment-edit-link:hover, 
.listing-status a.btn-delete,
.comment-reply-link:hover,
.woocommerce nav.woocommerce-pagination ul li a, 
.woocommerce nav.woocommerce-pagination ul li span,
.sidebar-content .widget_search .search-submit:hover,
.error404 a.vc_button_404:hover,
.listings_category_icon_shortcode:hover .heading a,
.mt_listing_content_parent .amenities-section span.amenities-item i,
.mt_listing_content_parent .amenities-section a:hover span.amenities-item,
.listing_tags_section a:hover,
.mt_listing_content_sidebar_part_contact_info_details_info p i,
.sidebar-content .tagcloud > a:hover,
.footer-icons *,
header.header1 #nav-menu-list a:hover,
.single-post-tags > a:hover,
.isiaFormRepeater a.repeat-add:hover,
#modal-embed-copy,
.mt-listing-search-taxonomy .select2-container--default .select2-selection--single .select2-selection__arrow i,
a.wp-block-button__link:hover,
.blog-posts-shortcode .text-element.content-element p a:hover,
.blog-posts-shortcode.blog-posts .list-view .post-details .post-name a:hover,
.iconfilter-shortcode .row .blog_custom_listings h4 a:hover,
.iconfilter-video .row .row-1items.foodhub-single-list-item a:hover,
.iconfilter-shortcode .foodhub-metas-single-meta a:hover,
.woocommerce ul.products li.product .archive-product-title a:hover,
.single-product.woocommerce .product_meta > span.posted_in a:hover,
.mt-icon-list-item:hover i, .mt-icon-list-item:hover span,
.mt-icon-list-item:hover span,
.single-listing-header .recipe-embed button[data-toggle="modal"],
.listing-details-author-info li i,
.dashboard-single-listing .listing-name a:hover,
.print-recipe-btn.button-winona.btn.btn-medium:hover,
.single-product.woocommerce .product_meta .tagged_as a:hover,
.list-view .post-details .post-excerpt .more-link:hover,
.mt-car-search .slider-state-submit button,
.single_list_print a#print-button,
.modeltheme_button .button-winona.btn.btn-medium:hover,
.mt-rating-stars ul > li.star.selected > i.fa,
.mt-listing-tabs .tabs-style-iconbox nav ul li.tab-current h5.tab-title,
form#add-new-review button.button-listing:hover,
.ac-list ol,
.embed-modal-content .modal-footer button:hover,
.thumbs-rating-container .thumbs-rating-already-voted,
.foodhub-metas-single-meta.ico-type p a:hover,
.blog_custom_listings .post-name-listings a:hover, #DataTable-icondrops-active .ico-row .list_title a:hover, .blog_custom .post-name a:hover, .events-title-subtitle a:hover,
.mt-listing-search-taxonomy button.form-control.btn:hover,
.shortcode-listings-slider .title-n-categories .post-name a:hover, .shortcode-listings-slider .title-n-categories .categories-name a:hover, .listing-taxonomy-shortcode .title-n-categories .post-name a:hover, .listing-taxonomy-shortcode .title-n-categories .categories-name a:hover,
.mtlistings-events-style-v2 .mt-single-event .mt-event-cat a:hover  {
color: #528f2d; 
}
.mt_listing_content_parent .amenities-section span.amenities-item i, .mt_listing_content_parent .amenities-section a:hover span.amenities-item, .listing_tags_section a:hover, .mt_listing_content_sidebar_part_contact_info_details_info p i, .sidebar-content .tagcloud > a:hover,
.woocommerce-account p.woocommerce-LostPassword.lost_password a:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce #review_form #respond .form-submit input:hover,
.no-results button:hover,
form#add-new-listing button.button-listing:hover,
#commentform .form-submit button:hover,
.um-login .um-button.um-alt,
.single_list_thumbs_rating .thumbs_rating_getlink_v2:hover span, .single_list_thumbs_rating .thumbs_rating_getlink_v2:hover i,
.single_list_thumbs_rating .thumbs_rating_getlink_v2:hover span,
#commentform .form-submit button:hover,
#signup-modal-content .woocommerce-form-register.register .button[type='submit']:hover,
#modal-log-in .woocommerce-LostPassword.lost_password a:hover,
.woocommerce a.remove,
.woocommerce a.remove:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
a.button-view-more-listings:hover,
.um-register .um-button.um-alt:hover,
.btn-register:hover,
.modeltheme-modal #loginform input[type="submit"]:hover,
form#login .register_button:hover,
.member01_social a,
.modeltheme_button .button-winona.btn.btn-medium:hover,
body #navbar ul.sub-menu li a:hover,
#dropdown-user-profile ul li a:hover,
.checkout_coupon.woocommerce-form-coupon .button:hover,
form#login .submit_button:hover,
.archive.author nav#modeltheme-main-head,
header.header1 #nav-menu-list a:hover {
color: #528f2d!important;
}
/* NAVIGATION */
.navstyle-v8.header3 #navbar .menu > .menu-item.current-menu-item > a, 
.navstyle-v8.header3 #navbar .menu > .menu-item:hover > a,
.navstyle-v1.header3 #navbar .menu > .menu-item:hover > a,
#navbar ul.sub-menu li a:hover,
.navstyle-v4 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v4 #navbar .menu > .menu-item:hover > a,
.navstyle-v3 #navbar .menu > .menu-item.current-menu-item > a, 
.navstyle-v3 #navbar .menu > .menu-item:hover > a,
.navstyle-v3 #navbar .menu > .menu-item > a::before, 
.navstyle-v3 #navbar .menu > .menu-item > a::after,
.navstyle-v2 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v2 #navbar .menu > .menu-item:hover > a,
#navbar .menu-item.selected > a{
color: #528f2d;
}
.navstyle-v2.header3 #navbar .menu > .menu-item > a::before,
.navstyle-v2.header3 #navbar .menu > .menu-item > a::after,
.navstyle-v8 #navbar .menu > .menu-item > a::before,
.navstyle-v7 #navbar .menu > .menu-item .sub-menu > .menu-item > a:hover,
.navstyle-v7 #navbar .menu > .menu-item.current_page_item > a,
.navstyle-v7 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v7 #navbar .menu > .menu-item:hover > a,
.navstyle-v6 #navbar .menu > .menu-item.current_page_item > a,
.navstyle-v6 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v6 #navbar .menu > .menu-item:hover > a,
.navstyle-v5 #navbar .menu > .menu-item.current_page_item > a, 
.navstyle-v5 #navbar .menu > .menu-item.current-menu-item > a,
.navstyle-v5 #navbar .menu > .menu-item:hover > a,
.navstyle-v2 #navbar .menu > .menu-item > a::before, 
.navstyle-v2 #navbar .menu > .menu-item > a::after{
background: #528f2d;
}
.navbar-nav .search_products a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {
    font-family: "Ubuntu";
}
/* Color Dark / Hovers */
.foodhub-single-list-item i.cc:hover,
.single .single-icondrops-related-listings i.cc:hover,
.related-posts .post-name:hover a{
color: #ffffff !important;
}
/*------------------------------------------------------------------
BACKGROUND + BACKGROUND-COLOR
------------------------------------------------------------------*/
.tagcloud > a:hover,
.modeltheme-icon-search,
.wpb_button::after,
.rotate45,
.latest-posts .post-date-day,
.latest-posts h3, 
.latest-tweets h3, 
.latest-videos h3,
.button.solid-button, 
button.vc_btn,
.pricing-table.recomended .table-content, 
.pricing-table .table-content:hover,
.pricing-table.Recommended .table-content, 
.pricing-table.recommended .table-content, 
.pricing-table.recomended .table-content, 
.pricing-table .table-content:hover,
.block-triangle,
.owl-theme .owl-controls .owl-page span,
body .vc_btn.vc_btn-blue, 
body a.vc_btn.vc_btn-blue, 
body button.vc_btn.vc_btn-blue,
#subscribe > button[type='submit'],
.social-sharer > li:hover,
.prev-next-post a:hover .rotate45,
.masonry_banner.default-skin,
.form-submit input,
.member-header::after,
.member-footer .social::before, 
.member-footer .social::after,
.subscribe > button[type='submit'],
.no-results input[type='submit'],
h3#reply-title::after,
.newspaper-info,
header.header1 .header-nav-actions .shop_cart,
.categories_shortcode .owl-controls .owl-buttons i:hover,
.widget-title:after,
h2.heading-bottom:after,
.single .content-car-heading:after,
.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header.ui-state-active,
#primary .main-content ul li:not(.rotate45)::before,
.wpcf7-form .wpcf7-submit,
ul.ecs-event-list li span,
#contact_form2 .solid-button.button,
.navbar-default .navbar-toggle .icon-bar,
.modeltheme-search .search-submit,
.pricing-table.recommended .table-content .title-pricing,
.pricing-table .table-content:hover .title-pricing,
.pricing-table.recommended .button.solid-button,
.blogloop-v5 .absolute-date-badge span,
.post-category-date a[rel="tag"],
.foodhub_preloader_holder,
.mt_car--single-gallery.mt_car--featured-single-gallery:hover,
footer .mc4wp-form-fields input[type="submit"],
.pricing-table .table-content:hover .button.solid-button,
footer .footer-top .menu .menu-item a::before,
.blogloop-v4.list-view .post-date,
header .top-header,
.navbar-toggle .icon-bar,
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce .woocommerce-cart-form .button,
.woocommerce input.button,
table.compare-list .add-to-cart td a,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce .woocommerce-form button, 
.woocommerce input.button.alt,
.woocommerce a.remove:hover,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce.single-product .wishlist-container .yith-wcwl-wishlistaddedbrowse,
.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt[disabled]:disabled, 
.woocommerce #respond input#submit.alt[disabled]:disabled:hover, 
.woocommerce a.button.alt.disabled, 
.woocommerce a.button.alt.disabled:hover, 
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt[disabled]:disabled, 
.woocommerce a.button.alt[disabled]:disabled:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, 
.woocommerce button.button.alt:disabled:hover, 
.woocommerce button.button.alt[disabled]:disabled, 
.woocommerce button.button.alt[disabled]:disabled:hover, 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt[disabled]:disabled, 
.woocommerce input.button.alt[disabled]:disabled:hover,
.hover-components .component a:hover,
table.compare-list .add-to-cart td a,
.panel-single-icondrops,
.single-mt_listing .single-icondrops,
#listings_metaboxs input[type="submit"],
.mt_listing--single-price-inner,
input.wpcf7-form-control.wpcf7-submit,
.mt-single-event-head,
.mt_listing .single-icondrops-content .progress,
.post-password-form input[type="submit"],
.widget.widget_product_search button,
.search-form input[type="submit"],
.slider_navigation .btn,
.single-mt_listing .mt_listing_website_button:hover,
.single-mt_listing .mt_listing_website_button:hover, 
.single-mt_listing .mt_listing_whitepaper_button:hover,
.single-mt_listing .mt_listing_purchase_button:hover,
.single-mt_listing .mt_listing_video_button:hover,
#listings_metaboxs .cmb-type-title,
body .btn-sticky-left,
.owl-theme .owl-controls .owl-buttons div,
.error404 a.vc_button_404,
.comment-edit-link, 
.comment-reply-link,
.modal-header,
.listing-status a.btn-edit,
a.button-view-more-listings,
p.woocommerce-mini-cart__buttons a.button,
.pagination a.page-numbers:before,
.pagination span.page-numbers:before,
.single_list_share_this,
.owl-theme .owl-controls .owl-buttons div,
.pagination .page-numbers.current,
.woocommerce .woocommerce-MyAccount-navigation li.is-active,
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"], .ac-custom label::before,
.woocommerce .woocommerce-MyAccount-navigation li:hover,
.foodhub-contact button.wpcf7-form-control.wpcf7-submit,
.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a,
.single-tribe_events div#overlay,
.member01_social a:hover,
.listing-details-author-info li a:hover,
.repeat-section .repeat-add,
.modeltheme-modal #loginform input[type="submit"], form#login .register_button, form#login .submit_button,
.btn-register,
.shortcode-archive-list ul.listings-list li,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.print-recipe-btn,
.woocommerce-account #modeltheme-main-head,
.embed-modal-content .modal-footer button,
form#add-new-review button.button-listing,
.repeat-section .repeat-remove,
.mt_listing--single-gallery .flex-zone-inside,
.checkout_coupon.woocommerce-form-coupon .button,
#signup-modal-content .woocommerce-form-register.register .button[type='submit'],
.post-password-form input[type='submit'] {
background: #528f2d;
}
.sidebar-content .widget_search .search-submit:hover:before,
.okhaloma-contact button.wpcf7-form-control.wpcf7-submit:hover:before,
.sidebar-content .widget_search .search-submit:hover,
.mt-listing-search-taxonomy button.form-control.btn:hover,
li.shop_cart_li.menu-item a.shop_cart:hover span.cart-contents-count,
.print-recipe-btn.button-winona.btn.btn-medium:hover,
.listings_category_image_shortcode_holder .listings_category_footer .category_icon_holder:hover,
body .newsletter button:hover:before,
button#frontend-button:hover:before,
.mt-listing-search-taxonomy button.form-control.btn,
.listings_category_icon_shortcode:hover .heading a,
.sidebar-content .widget_search .search-submit, 
.foodhub-contact button.wpcf7-form-control.wpcf7-submit,
#commentform .form-submit button,
.um-register .um-button.um-alt,
.btn-register,
.modeltheme-modal #loginform input[type="submit"],
form#login .register_button,
form#login .submit_button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce #review_form #respond .form-submit input,
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current,
form#add-new-listing button.button-listing,
li.shop_cart_li.menu-item span.cart-contents-count,
.print-recipe-btn.button-winona.btn.btn-medium,
.listings_category_image_shortcode_holder .category_icon_holder,
.blog-posts-shortcode .time-n-date,
.blog-posts-shortcode .text-element.content-element p a::before,
body .newsletter button,
button#frontend-button,
.single_list_print a#print-button:hover,
.single-mt_listing .mt_listing_header_section .category_icon_holderfoodhub,
#commentform .form-submit buttonfoodhub,
.single_list_thumbs_rating .thumbs_rating_getlink_v2,
.mt-listing-search-taxonomy button.form-control.btnfoodhub,
.okhaloma-contact button.wpcf7-form-control.wpcf7-submitfoodhub,
.archive.author nav#modeltheme-main-head,
.error404 nav#modeltheme-main-headfoodhub,
.vc_tta-accordion.vc_tta.vc_general.accordion-services .vc_tta-panel-title>a,
.testimonials-container-1 .owl-prev:hover,
.single-listing-header .recipe-embed button[data-toggle="modal"]:hover,
.testimonials-container-1 .owl-next:hover,
h4.testimonial02_title strong::before,
#commentform .form-submit button{
background: #528f2d !important;
}
.woocommerce-ResetPassword .woocommerce-Button, .woocommerce-message .woocommerce-Button, .woocommerce-Message .woocommerce-Button, .woocommerce-EditAccountForm .woocommerce-Button,
.header_mini_cart .button.wc-forward,
.header_mini_cart .button.checkout,
.foodhub_preloader_holder,
#modal-embed-copy:hover,
.header-title-breadcrumb-overlay,
.woocommerce .product-thumbnails span.onsale,
.no-results button,
.modeltheme-pagination.pagination .page-numbers.current,
.mt-rating-percentage-wrapper .progress-bar-success,
a.wp-block-button__link,
.list-view .post-details .post-excerpt .more-link,
.mt-listing-search-taxonomy .checkboxes-categories .checkbox-inline input:checked ~ .checkmark, .styling-checkboxes .checkbox-inline input:checked ~ .checkmark,
#commentform .form-submit button,
.ico-whitepapers-posts .post-button a:hover,
.sidebar-content .widget_search .search-submit,
.um-login input[type=submit].um-button,
body .courses-list .featured_image_courses .course_badge i,
body .courses-list .shortcode_course_content,
.woocommerce nav.woocommerce-pagination ul li span.current,
body .woocommerce ul.products li.product .onsale {
background-color: #528f2d !important;
}
.modeltheme-search.modeltheme-search-open .modeltheme-icon-search, 
.no-js .modeltheme-search .modeltheme-icon-search,
.modeltheme-icon-search:hover,
.latest-posts .post-date-month,
.button.solid-button:hover,
body .vc_btn.vc_btn-blue:hover, 
body a.vc_btn.vc_btn-blue:hover, 
.post-category-date a[rel="tag"]:hover,
.single-post-tags > a:hover,
body button.vc_btn.vc_btn-blue:hover,
.blogloop-v5 .absolute-date-badge span:hover,
.mt-car-search .submit .form-control:hover,
#contact_form2 .solid-button.button:hover,
.subscribe > button[type='submit']:hover,
footer .mc4wp-form-fields input[type="submit"]:hover,
.no-results.not-found .search-submit:hover,
.no-results input[type='submit']:hover,
ul.ecs-event-list li span:hover,
.pricing-table.recommended .table-content .price_circle,
.pricing-table .table-content:hover .price_circle,
#modal-search-form .modal-content input.search-input,
.wpcf7-form .wpcf7-submit:hover,
.form-submit input:hover,
.mt_listing_end_date_pick,
.mt_listing_start_date_pick,
.blogloop-v4.list-view .post-date a:hover,
.pricing-table.recommended .button.solid-button:hover,
.search-form input[type="submit"]:hover,
.modeltheme-pagination.pagination .page-numbers.current:hover,
.error-return-home.text-center > a:hover,
.pricing-table .table-content:hover .button.solid-button:hover,
.post-password-form input[type="submit"]:hover,
.navbar-toggle .navbar-toggle:hover .icon-bar,
.woocommerce #respond input#submit:hover, 
.widget.widget_product_search button:hover,
.slider_navigation .btn:hover,
.woocommerce input.button:hover,
table.compare-list .add-to-cart td a:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce input.button.alt:hover,
.post-password-form input[type='submit']:hover{
background: #ffffff;
}
.um-login input[type=submit].um-button:hover,
.tagcloud > a:hover{
background: #ffffff !important;
}
.hover-components .component a,
.woocommerce ul.cart_list li a::before, 
.woocommerce ul.product_list_widget li a::before,
.flickr_badge_image a::after,
.thumbnail-overlay,
.portfolio-hover,
.pastor-image-content .details-holder,
.item-description .holder-top,
blockquote::before {
background: rgba(46, 204, 113, 0.7);
}
/*------------------------------------------------------------------
BORDER-COLOR
------------------------------------------------------------------*/
.author-bio,
.listing_tags_section a:hover,
.sidebar-content .tagcloud > a:hover,
.pricing--tenzin .pricing__item:hover, 
.is_featured .pricing--tenzin .pricing__item,
blockquote,
.widget_popular_recent_tabs .nav-tabs > li.active,
body .left-border, 
body .right-border,
body .member-header,
body .member-footer .social,
body .button[type='submit'],
.navbar ul li ul.sub-menu,
.wpb_content_element .wpb_tabs_nav li.ui-tabs-active,
#contact-us .form-control:focus,
.sale_banner_holder:hover,
.testimonial-img,
.wpcf7-form input:focus, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message,
.header_mini_cart .woocommerce .widget_shopping_cart .total, 
.header_mini_cart .woocommerce.widget_shopping_cart .total,
.header_mini_cart,
.header_mini_cart.visible_cart,
.wpcf7-form textarea:focus,
.navbar-default .navbar-toggle:hover, 
.header_search_form,
p.woocommerce-noreviews,
#modal-embed-copy:hover,
.single-post-tags > a:hover,
.listing_tags_section a:hover, .sidebar-content .tagcloud > a:hover,
.is-style-outline .wp-block-button__link,
body .course-review-head, body .course-content > h3:first-child, body .course-curriculum-title,
.list-view .post-details .post-excerpt .more-link:hover{
border-color: #528f2d;
}
.listing-details-author-info li a,
.member01_social a{
border-color: #528f2d !important;
}
header .navbar-toggle,
.navbar-default .navbar-toggle{
border: 3px solid #528f2d;
}