* {
    margin: 0;
    padding: 0;
  }
html{
    overflow-x: hidden;
  }
.logo
{
   margin-top:-15px;
   width: 200px;
   height: 40px;
   margin-left: 30px;

}
input::placeholder{
  color:white;
}
.header-home{
    width:100%;
    height :400px;
    background-repeat: no-repeat;
    background: url("../images/photo-footer.jpg")center center/cover no-repeat;
}
.nav-home{
    background-color: transparent;
    border: none;
}
.menu{
    margin-left: 700px;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
}
.navbar-inverse .navbar-nav li a {
    color: #FFFFFF;
    font-size: 20px;
}
.navbar-inverse .navbar-nav li li a {
    color: rgb(102, 102, 102);
    font-size: 20px;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: transparent;
}

.nvrecette{
    padding: 12px 40px;
    border-radius: 25px;
    background-color: transparent;
    border-color: white;
    /* color: rgb(255, 204, 0); */
    color: white;
    /* border: none; */
    margin-top: 10px;
    font-size: 18px;
    /* margin-left: 20px; */
}
.nvrecette:hover{
    background-color: white;
    /* border-color: white; */
    color: rgb(255, 204, 0);
    /* color: white; */
    border: none;
    /* margin-top: 10px; */
    /* font-size: 18px; */

}

.header-text{
    color: white;
    margin-left: 2%;
    margin-top: 55px;
}
.recherche{
    margin-left: 3%;
    margin-top: 5px;
}
.recherche input{
    padding: 14px 20px;
    padding-right: 60px;
    border-radius:25px 0px 0px 25px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-color:rgb(255, 204, 0);
}
.recherche select{
    padding: 17px 20px;
    margin-left: -5px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border-color:rgb(255, 204, 0);

}
.recherche select option{
    background-color: white;
    color:rgb(102, 102, 102);
    font-size: 20px;
    border-color:rgb(255, 204, 0);
}

.btn-s{
    padding: 20px 20px 16px 20px;
    margin-left: -6px;
    margin-top: 10px;
    border-radius:0px 25px 25px 0px;
    background-color: rgb(255, 204, 0);
    border-color: rgb(255, 204, 0);
}
.btn-s:hover{
    background-color: transparent;
    /* border: rgb(255, 204, 0); */
}
.container-fluid {
    margin-top: 20px;
}
.navbar-right
 {
  margin-left: 20px;
}
.nvrecette{
    margin-right:30px;
}
.navbar-toggle
{
border-color:cornflowerblue;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
border-color:none;
}

@media only screen and (max-width: 1700px)
{
  .menu
{ 
    margin-left: 300px;
}
body{
  overflow-x: hidden;
}


}

@media only screen and (max-width: 1400px)
{
  .menu
{ 
    margin-left: 100px;
}

}
@media only screen and (max-width: 1800px)
{
  .menu
{ 
    margin-left:300px;
}

}
@media only screen and (max-width: 1309px)
{
  .menu
{ 
    margin-left:120px;
}


}
@media only screen and (max-width:1379px)
{
  .menu
{ 
    margin-left:100px;
}

}

/* .img-categorie {
    max-width: 50%;
    margin: 20px auto;
  }

 .img-categorie img {
      display: inline-block;
      max-width: 98%;
      height: auto;
      width: 30%;
      margin: 1%;
  }
  .img-categorie h2 {
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  .img1
  {    background-repeat: no-repeat;
    background: url("../images/photo-footer.jpg")center center/cover no-repeat;

  } */
  /* .p {
    text-align: center;
    padding-top: 120px;
  }
  
  .titre span{
    font-family: 'Blogger-Sans', Helvetica, Sans-serif;
    font-size: 72px;
    color: #ffcc00;
    text-align: right;
    padding-right: 7px;
  }
   .titre p{
    font-family: 'Blogger-Sans', Helvetica, Sans-serif;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -2px;
    color: #000;
    text-align: left;
  }
  column {
    flex-basis: 100%;
  }
  
  @media screen and (min-width: 800px) {
    .row {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .column {
      flex: 1;
    }
    ._25 {
      flex: 2.5;
    }
    ._5 {
      flex: 5;
    }
  } */
  /* Style */
 
  h5{
        font-size: 18px;
      margin-bottom: 30px;
      font-family: 'Gotham-Bold', Helvetica, Sans-serif;
      line-height: 1.1;
      letter-spacing: 3px;
      text-transform: uppercase;
      margin: 0;
      color: #222;
  }
  img {
    margin-bottom: 20px;
  }
.col-sm-3{
  margin-top: 30px;
}

 .col-sm-3 span{
    font-family: 'Blogger-Sans', Helvetica, Sans-serif;
    font-size: 72px;
    color: #ffcc00;
    text-align: right;
    padding-right: 7px;
    margin-left:42px;
}
.col-sm-3 h5 {
  font-family: 'Blogger-Sans', Helvetica, Sans-serif;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -2px;
  color: #000;
  text-align: left;
}
.col-sm-6 p{
  margin-top: 188px;
font-size: 16px;
letter-spacing: -0.5px;
line-height: 1.3;
color: #000;
text-align: center;
}
.col-sm-6 {
  margin-top: 50px;
}
.container-image-cercle
{
  width: 100%;
  background-color: aliceblue;
  height: 520px; 
  margin-top: 4%;

}
@media (min-width:992px) 
{
  .col-sm-3 h5
      {
        margin-left: 33%;
      }
    .cercle-image img
      {
        width: 186px;
        height:186px
      }
    .lesnoms h3
      {
        font-size: 17px;
      }
  .lesnoms h5
      {
        font-size: 15px;
      }
  .container-image-cercle
      {
        height: 452px;
      }
}

@media (min-width:768px) 
{
 .col-sm-3 h5
  {
    margin-left: 3%;
    font-size: 27px;
  }
.cercle-image img
  {
    width: 150px;
    height:150px
  }
.lesnoms h3
  {
    font-size: 16px;
  }
.lesnoms h5
  {
    font-size: 14px;
  }
.container-image-cercle
  {
    height: 400px;
  }
.col-sm-6 p 
  {
    margin-top: 162px;
    margin-left: 9%;
  }
.col-sm-3 span
 {
  font-size: 56px;
 }
 .container-image-cercle {
  height: 430px;
}
 .lesnoms h5{
 font-size: 16px
 ;}
}

@media (max-width:991px) 
{
  .col-sm-3 h5
  {
    margin-left: 68%;
    font-size: 28px;
}
}
@media (min-width: 768px){
/* .col-sm-3 h5 {
    margin-left: 50%;
    font-size: 27px;
}
.col-sm-6 p {
  margin-top: 135px;
  font-size: 14px;
}
.col-sm-3 h5 {
  font-size: 22px;
}
.col-sm-6 img{
  width: 90%;

} */
/* .col-sm-6 .paragraphe {
  margin-top: 50%;
} */
}
@media (max-width:767px) 
{
  .col-sm-3 h5
  {
    text-align: center;
    margin-top: -14%;
    font-size: 28PX;


}

 .other img
{
  width: 80%;
  margin-left: 12%;
}
.col-sm-6 p 
{
  margin-top: 50px;
}
.cercle-image img
  {
    width: 100px;
    height:100px
  }
}


.titreimage {
  text-align: center;
  margin-top: 4%;
}
.titreimage span{
   /* margin-top: 1030px; */
   text-align: center;
   color: #151515;
   /* font-family: "Signika"; */
   font-size: 28px;
   line-height: 39px ;
   text-align: center;
  text-transform: capitalize;
  font-weight: 700;
}
.lesnoms h3{
    font-size: 18px;
    /* margin-bottom: 30px; */
    font-family: 'Gotham-Bold', Helvetica, Sans-serif;
    line-height: 2.1;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0;
    color: #222;
    text-align: center;

}
.lesnoms h5{
  font-family: sans-serif;
  font-size: 18px;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  color: #606060;
  opacity: .9;
  letter-spacing: normal;
}
.titreimage p {
  color: gray;
}

.cercle-image img{
  border-radius: 50%;
  /* margin-left: 40px */
}
.cercle-image img:hover{
  transform: scale(1.1);
  opacity: 0.6;
}
.cercle-image{
  text-align: center;
}
.back-cercle {

  background-color: chartreuse;
}
.lesnoms{
  width: 99.99%;
}

/* h1{
  font-size: calc(10px + 5vmin);
} */

.portfolio-item .rec-land-lg-1 .text h1{
  color: #ffcc00;
  font-size: 12px;
  font-family: sans-serif;
}
p {
  color: #333;
  font-size: calc(8px + 0.7vmin);
  
}

.main-content {
  padding: 6%;
  width:98vw;
  height: 100%;
  margin: 20px auto;
 
}

.portfolio {
  width: 100%;
  margin:1vh auto; 
  display:grid;
  grid-template-columns: 30vmin 20vmin 42vmin 30vmin;
  grid-template-rows: repeat(3, 30vmin);
 
  grid-gap: 1vh;
  justify-content: center;
  align-content: center;
/*    grid-auto-flow: dense; */
}

.portfolio-item{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 27px 36px -31px rgba(0,0,0,0.75);
  border-radius: 3px;
}
.text {
  box-shadow: none;
  color: #ffcc00;
  /* font-size: 12px;
  font-family: sans-serif; */
}


.rec-land-lg-1 .text{
/*   align-self: center;
  min-width:45vmin; */
  height: 61vmin;
  
}

.rec-land-lg-3 {
  background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/11/recipe_massaman_soup-1-500x300.jpg");
  grid-column: 1 / 3;
}

.rec-land-md {
  background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/11/recipe_massaman_soup-1-500x300.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  grid-column-start: 3;
}

.rec-port-tall {
 
  background-color: rgba(0, 0, 0, 0.3);
   background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/01/recipes-09-500x300.jpg");
  grid-column-start: 4;
/*   grid-row: 1/ span 3; */
  height: 61vmin;
}

.sq-1 {
  background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/01/recipes-17-1-500x350.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  grid-column-end: 2;
}

.rec-port-sm{
  background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/01/recipes-18-1-500x350.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  grid-column-start: 2;
}

.sq-2{
  background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/01/recipes-24-500x350.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  grid-row-end: 4;
  grid-column-start: 4;
}

.rec-land-lg-2{
  background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/01/recipes-19-500x350.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  grid-column: 1 / 3;
  grid-row-end: 4;
/*   width:51vh; */
}

.rec-port-lg{
  background-image: url("https://foodhub.modeltheme.com/wp-content/uploads/2019/01/recipes-09-500x350.jpg");
  background-color: rgba(0, 0, 0, 0.3);
  grid-column-start: 3;
  height:61vmin;
}



@media (max-width:500px) {
  .portfolio{
    display: block; 
  }
  .portfolio-item {
    width: 94vw;
    height: 94vw;
    margin:3vw auto;
  }
  .text {
    height: auto;
  }
}
footer .recherche select {
  width: 30%;
  padding: 17px 20px;
  margin-left: -5px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-color: rgb(255, 204, 0);
}
footer .recherche input {
  width: 60%;
  padding: 14px 20px;
  padding-right: 60px;
  border-radius: 25px 0px 0px 25px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  border-color: rgb(255, 204, 0);
}
footer
          {
              background-color:transparent;
          }
          footer .footer-top
          {
              width:100%;
              height:auto;
              background-repeat: no-repeat;
              background-color:transparent;
              background-image: url('../images/photo-footer.jpg');
              background-position: center;
              background-size: cover; 
              margin-left: 0px;
              margin-top: 42px;

          }
          
          footer .footer-top h1.widget-title, footer .footer-top h3.widget-title, footer .footer-top .widget-title
          {color:#ffffff;}
          .footer-row-1{padding-top:80px;padding-bottom:80px;}
          .footer-row-1{margin-top:0;margin-bottom:0;}.footer-row-1{border-top:0px solid #515b5e;border-bottom:0px solid #515b5e;border-left:0px solid #515b5e;border-right:0px solid #515b5e;}footer .footer-div-parent{background-color:#528f2d;}footer .footer h1.widget-title, footer .footer h3.widget-title, footer .footer .widget-title{color:#ffffff;}
          